Flask==0.10.1
Flask-Bootstrap==3.2.0.2
Jinja2==2.7.3
MarkupSafe==0.23
SPARQLWrapper==1.6.4
Werkzeug==0.9.6
html5lib==0.999
isodate==0.5.0
itsdangerous==0.24
pyparsing==2.0.2
rdflib==4.1.2
requests==2.4.1
six==1.8.0
wsgiref==0.1.2
