{% extends "bootstrap/base.html" %}
{% block title %}Guideline Viewer{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Guideline Viewer</h1>
            </div>
        </div>
        <div class="row">
            <div class='col-md-6'>
                {% include 'inference.html' %}
            </div>
            <div class='col-md-6'>
                {% include 'guidelines.html' %}
            </div>
        </div>

        {% include 'recommendations.html' %}
        
        <div class='row'>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='guidelines.js')}}"></script>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block bootstrap_js_bottom %}
    
{% endblock %}