{% extends "bootstrap/base.html" %}
{% block title %}TMR4I Explorer for Clinical Guidelines{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>TMR4I Guideline Explorer</h1>
                <p>This web application allows you to explore several example clinical guidelines represented according to the TMR4I model developed by Veruska Zamborlini. A paper about this work has been submitted to the Semantic Web Journal: <i>"Detecting Interactions among Medical
Recommendations in Clinical Guidelines
enhanced by the Semantic Web - A case study on multimorbidity"</i>, Veruska Zamborlini, Rinke Hoekstra, Marcos da Silveira, Cedric Pruski, Annette ten Teije and Frank van Harmelen.</p>
            </div>
        </div>
        <div class="row">
            <div class='col-md-12'>
                {% include 'guidelines.html' %}
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
        </div>

        {% include 'recommendations.html' %}
        
        <div class='row'>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='guidelines.js')}}"></script>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block bootstrap_js_bottom %}
    
{% endblock %}