<div class="row">
    <div class="col-md-4" style='border-right: 1px solid grey;'>
        <h3>{{ guideline_label }}</h3>
        <div class="list-group">
        {% for grouper, list in recommendations|groupby('rec_label') %}
            {% for e in list %}
                {% if loop.first %}
                    <a href="#" class="list-group-item" uri='{{e.rec.value }}'>
                        <span class="list-group-item-heading">{{ grouper.value }}</span>
                {% endif %}
                {% if loop.last %}
                    </a>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    <div class="col-md-8">
    {% for grouper, list in recommendations|groupby('rec_label') %}
        {% for e in list %}
            {% if loop.first %}
                    {% set uri = e.rec.value %}
                    <div class="transition" style="display: none;" transition_container_for='{{e.rec.value}}'>
                        <h3>{{ grouper.value }}</h3>
                    {%if 'irec_label' in e %}
                        <span class="badge alert-info" target="{{ e.irec.value }}">{{ e.irec_label.value }}</span>
                    {% endif %}
            {% endif %}
            {% if 'crec_label' in e %}
                    <span class="badge alert-warning" target="{{ e.crec.value }}">{{ e.crec_label.value }}</span>
            {% endif %}
            {% if loop.last %}
                    
                        
                        <div transitions_for='{{ uri }}'>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
</div>



