{% if pos_transitions|length %}
<div class="panel panel-info">
    <div class="panel-heading">Transitions to Pursue</div>
    <div class="panel-body">
{% for grouper, list in pos_transitions|groupby('transition_label') %}
    {% for e in list %}
        {% if loop.first %}
        <div uri='{{e.transition.value }}'>
            <h4>Transition from <strong>{{ e.transformable_situation_label.value }}</strong> to <strong>{{ e.post_situation_label.value  }}</strong>{% if e.filter_condition_label.value != 'none' %} given a filter condition of <strong>{{ e.filter_condition_label.value }}</strong>{% endif %}. <span class="badge">{{ e.transition_label.value }}</span>
            </h4>

                <table class="table table-striped">
                    <tbody>
                        <tr><th class="col-md-3">Care action</th><td>{{ e.care_action_label.value }}</td></tr>
        {% endif %}
        {% if e.inverse_transition %}
                        <tr><th class="col-md-3">Inverse transition</th><td><span class='badge alert-danger'>{{ e.inverse_transition_label.value }}</span>  <span class="badge">{{ e.irec_stripped.value }}</span> <small>({{ e.irec_label.value }})</small></td></tr>
        {% endif %}
        {% if e.similar_transition %}
                        <tr><th class="col-md-3">Similar transition</th><td><span class='badge alert-warning'>{{ e.similar_transition_label.value }}</span>  <span class="badge">{{ e.srec_stripped.value }}</span> <small>({{ e.srec_label.value }})</small></td></tr>
        {% endif %}
        {% if loop.last %}
                    </tbody>
                </table>
            

        </div>
        {% endif %}
    {% endfor %}
{% endfor %}

{% endif %}

{% if neg_transitions|length %}
<div class="panel panel-warning">
    <div class="panel-heading">Transitions to Avoid</div>
    <div class="panel-body">
{% for grouper, list in neg_transitions|groupby('transition_label') %}
    {% for e in list %}
        {% if loop.first %}
        <div uri='{{e.transition.value }}'>
            <h4>Transition from <strong>{{ e.transformable_situation_label.value }}</strong> to <strong>{{ e.post_situation_label.value  }}</strong>{% if e.filter_condition_label.value != 'none' %} given a filter condition of <strong>{{ e.filter_condition_label.value }}</strong>{% endif %}. <span class="badge">{{ e.transition_label.value }}</span>
            </h4>
                <table class="table table-striped">
                        <tr><th class="col-md-3">Care action</th><td>{{ e.care_action_label.value }}</td></tr>
        {% endif %}
        {% if e.inverse_transition %}
                        <tr><th class="col-md-3">Inverse transition</th><td><span class='badge alert-danger'>{{ e.inverse_transition_label.value }}</span> <span class="badge">{{ e.irec_stripped.value }}</span> <small>({{ e.irec_label.value }})</small></td></tr>
        {% endif %}
        {% if e.similar_transition %}
                        <tr><th class="col-md-3">Similar transition</th><td><span class='badge alert-warning'>{{ e.similar_transition_label.value }}</span> <span class="badge">{{ e.srec_stripped.value }}</span>  <small>({{ e.srec_label.value }})</small></td></tr>
        {% endif %}
        {% if loop.last %}
                    </tbody>
                </table>
            
        </div>
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
{% endif %}
